:root { 
    --dark-blue: #363f5f;
    --white: rgb(245, 245, 245);
}

html {

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-blue);
    margin: 0;
    display: block;
}

.container{ 
    max-width: 832px;
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

div{
    display: block;
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    display: block;
}

header{
    display: block;
}

h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p#description{
    text-align: center;
}
lebel {
    display: block;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    cursor: default;
}
.form-group{
    margin: 0 auto 0.5rem auto;
    padding: 0.2rem;
}
form{
    background: rgb(207, 188, 216);
    display: block;
    margin-top: 0em;
    border-radius: 0.25rem;
    padding: 2.5rem;
    margin: 0 auto 1rem auto;
 
}

.form-control{
    display: block;
    height: 2.375rem;
    padding: 0.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}


.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
}
.clue{

    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: var(--dark-blue);
}


.input-checkbox{
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

input#name, input#email,{
    width: 50%;
    resize: vertical;

}

input#age{
    width: 100%;
    
}
input, button, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.input-textarea{
    min-height: 120px;
    width: 97.05%;
    padding: 0.625rem;
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 2px;
    cursor: pointer;

   }

button:hover{
    background: rgb(133, 133, 175);
}   
.footer{
    text-align: center;
    padding: 1rem 0 2rem;
    color: var(--dark-blue);
    
    opacity: 0.6;

}